body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    padding: 80px;
    background-color: #A470DD;
    color: #260065;
    text-align: center;
}

.header p{
    color: #462085;
}

.navbar{
    overflow: hidden;
    background-color: #333
}

.navbar a{
    float: left;            /* Links are placed on the left of the page */
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;    /*Add padding to the links */
    text-decoration: none; /*Remove the underline on links*/
}

.navbar a.right{
    float: right;
}

.navbar a:hover{
    background-color: #dddddd;
    color: black;
}

/*MY SKILLS*/
.header-wrapper{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("../media/purple-swoosh.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body{
    margin: 0px;
}

.sub-header{
    text-align: right;
    width: 30%;
}
/* MY SKILLS HEADER*/
h2{
    color: #462085;
    font-size: 35px;
}

li{
    font-size: 25px;
}

.imageCarousel{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.fadeIn{
    transition: opacity 0.5s;
    opacity: 1;
}

.fadeOut{
    transition: opacity 0.5s;
    opacity : 0;
}

.details{
    height: 250px;
    width: 250px;
    background-color: #0000A0;
    display: inline-flex;
    border-radius:50%;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}

.details ul{
    margin-left: 0px;
    padding-inline-start: 0px;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.list-wrapper{
    /*background-image: url(../media/purple-swoosh.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
}

.fadeIn.details{
    /*opacity: 1;
    transform: translateX(0%);
    -webkit-transition: right 0s, transform 0.5s ease-out, opacity 0.5s;  /* Chrome 1-25, Safari 3.2+ 
     -moz-transition: right 0s, transform 0.5s ease-out, opacity 0.5s;  /* Firefox 4-15 
       -o-transition: right 0s, transform 0.5s ease-out, opacity 0.5s;  /* Opera 10.50–12.00 
          transition: right 0s, transform 0.5s ease-out, opacity 0.5s;*/

        animation: slide-in 0.5s;
        -moz-animation: slide-in 0.5s;
        -webkit-animation: slide-in 0.5s;
        -o-animation: slide-in 0.5s;
}

@keyframes slide-in
{
    0%{
        transform: translateX(100%);
        opacity: 0;
    }

    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.fadeOut.details{
    opacity: 0;
    transform: translateX(-100%);
    


    -webkit-transition: transform 0.5s ease-out, opacity 0.5s;
    -moz-transition: transform 0.5s ease-out, opacity 0.5s;  /* Firefox 4-15 */
    -o-transition: transform 0.5s ease-out, opacity 0.5s;  /* Opera 10.50–12.00 */
    transition: transform 0.5s ease-out, opacity 0.5s;
}
.buttons-wrapper{
    padding: 2%;
}

.buttons-wrapper button{
    border-radius: 50%;
    border-style: none;
    display: inline-block;
    font-size: 20px;
    height: 30px;
    width: 30px;
    background-color: #aaaaaa;
}

.btn1{
    float: left;
}

.btn2{
    float: right;
}